.chatInput {
  position: absolute;
  z-index: 1;
  padding-left: 3rem;
  padding-top: 20rem;
}
.ChatIconAndBox {
  min-width: 2rem;
  min-height: 2rem;
}
.switch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  color: aliceblue;
  /* Add styles for switch */
}

.switch input {
  display: none;
  z-index: 1;
}

.slider {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.2s;

  z-index: 1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
  z-index: 1;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.spanSlider {
  padding-left: 1rem;
}

.Dayswitch {
  position: fixed;
  bottom: 80px;
  right: 36px;
  z-index: 1;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dayswitch input {
  display: none;
  z-index: 1;
}

.Dayswitch p {
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
}

.Satelliteswitch {
  position: fixed;
  bottom: 145px;
  right: 0.8rem;
  z-index: 1;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Satelliteswitch input {
  display: none;
  z-index: 1;
}

.Satelliteswitch p {
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
}

#time-log {
  position: absolute;
  font-size: 12px;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(200, 200, 200, 0.1);
  color: lavender;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

.Cableswitch {
  position: fixed;
  bottom: 210px;
  right: 10px;
  z-index: 1;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cableswitch input {
  display: none;
  z-index: 1;
}

.Cableswitch p {
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
}
